body {
    background: #adadad;
    font-family: "Comic Sans MS", cursive, sans-serif;;
}
    header{
        border-radius: 10px;
        margin: 0.2%;

        background-color: #0c0c0c;
    }

    #logo {
            width: 2%;
            height: 5%;
            padding-left: 1%;
    }
    nav ul {
        list-style-type: none;
        text-align: center;
        border-radius: 10px;
        padding: 0.5%;

        background-color:  #0c0c0c;
        font-family: "Comic Sans MS", cursive, sans-serif;;
    }
        nav ul li {
            display: inline;
        }
            nav ul li a:link, a:visited {
                text-decoration: none;
                padding-inline: 5%;
                
                color: #494949;
            }
                nav ul li a:hover, a:active {
                    background-color: #1b1b1b;
                    color: #494949;
                }
    section{
        margin: 20px;
    }
        section article{
            background-color: #494949;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }